@import "fonts-and-colors";

body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F6;

  @include font-face($font-stack, 24px, 14px);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: white;
  min-height: 1.92%;
  max-height: 4.86%;
  margin-top: 55px;

  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  .nav-item {
    display: inline-flex;
    margin: auto 9.72%;

    a {
      text-decoration: none;
      color: $dark-shade-50;
    }

    a.home {
      font-weight: bold;
      color: $dark-shade-100;
    }

    a:hover {
      color: $dark-shade-75;
    }

    .nav-list{
      display: inline-flex;
      justify-content: center;
      list-style-type: none;

      .list-item {
        margin-left: 2em;
        white-space: nowrap;
      }

      .list-item:first-child:last-child {
        margin-left: 0;
      }
    }
  }

  .nav-item:first-child {
    margin-right: 0;
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: white;
  min-height: 1.92%;
  max-height: 4.86%;
  margin-top: 55px;



  .item {
    display: flex;
    flex-direction: column;
    margin-left: 126px;
    margin-right: 0;

    h2 {
      @include font-face($font-stack, 24px, 14px);
      color: $dark-shade-100;
      font-weight: bold;

      white-space: nowrap;
    }

    h3 {
      @include font-face($font-stack, 24px, 14px);
      color: $dark-shade-75;
      font-weight: normal;
    }

    p {
      white-space: nowrap;
      color: $dark-shade-25;
      @include font-face($font-stack, 24px, 14px);
    }

    a {
      text-decoration: none;
    }

    a:hover {
      p {
        color: $dark-shade-75;
      }
    }
  }

  .item:first-child {
    margin-left: 9.12%;
    min-width: 18%;

    p {
      white-space: normal;
      color: $dark-shade-75;
    }
  }

  .item:last-child {
    margin-right: 9.12%;
  }

}
